body {
  width: 960px;
  margin: auto;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.impactbar {
  grid-row: 1;
  background-color: red;
  box-sizing: border-box;
  padding: 0.5em;
  text-align: center;
}

.choices {
  grid-row: 3;
  background-color: violet;
  box-sizing: border-box;
  padding: 0.5em;
}

#owner {
  grid-column: 1;
}

#nature {
  grid-column: 2;
}

#user {
  grid-column: 3;
}

#public {
  grid-column: 4;
}

#question {
  grid-column: 1 / 5;
  grid-row: 2;
  background-color: cyan;
  box-sizing: border-box;
  padding: 0.5em;
}

#left {
  grid-column: 1 / 3;
  text-align:left;
}

#right {
  grid-column: 3 / 5;
  text-align:right;
}

#author {
  grid-row: 4;
  grid-column: 1 / 5;
  box-sizing: border-box;
  padding: 0.5em;
  border: thin solid #333;
  text-align: center;
}

#profile {
  grid-row: 5;
  grid-column: 1 / 5;
  box-sizing: border-box;
  padding: 0.5em;
  border: thin solid #333;
}